body
{
	background-color:white;
    width: 100%;
    margin: auto;
	font-family:Source Sans Pro;
	color:#4D4D4D;
}
 
.navibereich 
{
	/*position: fixed;
	top: 0;*/
	margin: 0px 20px 20px 20px;
	list-style-type: none;
	text-align: center;
	overflow: hidden;
	box-shadow:  0px 10px 10px grey;
	background: linear-gradient(to right,#00B4CD,#2092A3, #005F6D);
	height: 90px;
	padding-top: 30px;
}

.navibereich li 
{
    padding: 0px;
    margin: 0px;
    display: inline;
	color: white;
}

.navibereich a
{
    padding: 2px 30px 2px 30px;
    font-size: 30px;
	color: black;
	text-decoration: none;
	transition-property: background-color, color, border, box, box-shadow;
	transition-duration: 0.3s;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

.navibereich a:hover
{
	border: 1px solid #076274;
    color: white;
	box-shadow: 0px 10px 20px black;
	-webkit-border-radius: 40px ;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

#header
{	
	margin: 20px;
	/*width: 100%;*/
	height:600px;
	background:white;
	text-align: center;
	box-shadow: 0px 10px 10px grey;
	/*text-shadow: 10px 10px 10px grey;*/
}

#header h1 
 {
	padding-top: 15px;
	font-size:60px;
	text-align: center;
 }

#header h2
{

}
 
#main
{	
	margin: 20px;
	height:400px;
	background:white;
	padding-left:100px;
	/*box-shadow: 10px 10px 10px grey;*/
}

#main h3
{
	font-size:30px;
}

#concept
{ 
	width: 40%;
}

#offer table tr td
{
	font-size:20px;
}

#find-us
{ 
	text-align: center;
	margin-top: 250px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top:0px;
	height:300px;
	background:#00B4CD;
	box-shadow: 0px -10px 10px grey;
	padding-left: 100px;
}

#find-us h4
{	
	font-size:20px;
	padding-top: 40px;
}

figure  
{
	margin: 0px;
    padding: 0px;
    display: inline-block;
    background: white;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

figure img
{
    display: block;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

figure:hover 
{
	border: 1px solid #076274;
    color: white;
	box-shadow: 10px 20px 30px black;
}

#footer
{
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding:0px;
	height:112.5px;
	background:#008C9E;
	box-shadow: 0px 10px 10px grey;
}

#footer h5
{
	margin: 0px;
	padding-left: 100px;
	padding-top: 75px;
}

@media only screen and (max-width: 768px) 
{ 
	body 	
	{
		background-color:black;
	}
}
 
