body
{
	background-color:white;
    width: 100%;
    margin: auto;
	font-family: Source Sans Pro;
	color:#4D4D4D;
}

a
{
	color: #4D4D4D;
}

.sticky
{
	position: fixed;
	top: 0px;
	width: 100%;
}

.main
{
	padding: 16px;
	height: 1000px;
	background: white;
	padding-left:100px;
}

.main h3
{
	font-size:30px;
}

.text-container
{
	width: 40%;
	text-align: justify;
}

.text-container-left
{
	float: left;
}

.text-container-right
{
	float: right;
}

#offer table tr td
{
	font-size:20px;
}

@media only screen and (max-width: 768px) 
{ 
	body 	
	{
		background-color:black;
	}
}
 
